[submodule "11-GraphModel/lda"]
	path = 11-GraphModel/lda
	url = git@github.com:lda-project/lda.git
[submodule "7-FaceEmbedding/facenet"]
	path = 7-FaceEmbedding/facenet
	url = git@github.com:davidsandberg/facenet.git
